body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
}

#Header a { color: black; text-decoration: none; }

#Main a { color: gray; text-decoration: none; }
#Main a:hover { text-decoration: underline; }
.top-buffer {
    margin-top: -2px;
}
button {
    background-color: #ffc20f;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: bold;
    outline: none;
    border-radius: 2px;
    padding: 6px 10px;
    box-shadow: -1px -2px 0px #dca810 inset;
    transition: background-color 300ms, box-shadow 100ms;
}
button:hover {
    background-color: #ffd660;
}
button:active {
    background-color: #ffc20f;
    box-shadow: 0px -1px 0px #dca810 inset;
}

#Header, #Main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Header {
    background-color: #ffc20f;
    font-weight: bold;
    height: 40px;
}

.sizeWrapper {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
}

.flexColLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flexRowLayout {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchBooks {
    outline: none;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid black;
    flex-grow: 1;
    margin: 0 20px;
    font-size: 16px;
    width: 500px;
}

.image {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}
.image img { height: 150px; max-width: 150px; }

.panel {
    margin-top: 8px;
    box-shadow: 0px 0px 2px 0px gray;
    padding: 10px 12px;
}

.profilePageWrapper {
    display: flex;
}

.profilePageWrapper .aside {
    margin-right: 16px;
}

.profilePageWrapper .aside .panel {
    width: 200px;
}

.profile .name { font-weight: bold; font-size: 18px; }
.profile .stat { color: gray; }

.profilePageWrapper .reviewsHeader {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.profilePageWrapper  .review {
    margin: 10px 0;
    padding-top: 5px;
    border-top: 1px solid gray;
}

.profilePageWrapper  .review .reviewStars {
    font-size: 18px;
}
.profilePageWrapper  .review .reviewText {
    font-style: italic;
}

.profilePageWrapper  .review .reviewer {
    color: gray;
    text-align: right;
}

.bookSectionHeader:first-child {
    margin-top: 10px;
}

.bookSectionHeader {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.book {
    display: flex;
    justify-content: space-between;
}

.book .info { flex-grow: 1; margin-left: 6px; }
.book .info div { margin-bottom: 2px; }

.book .info .title { font-weight: bold; font-size: 19px; }
.book .info .author { font-size: 17px; }
.book .info .isbn { font-style: italic; margin-bottom: 10px;}
.book .info .seller { font-style: italic; }
.book .info .type,
.book .info .condition,
.book .info .seller {
    color: gray;
}

.book .sellingInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book .sellingInfo .price {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    align-self: center;
}
.book .sellingInfo .buy {
    align-self: flex-end;
    font-size: 20px;
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loginPage .loginForm {
    box-shadow: 0px 0px 2px 0px gray;
}

.loginPage .loginForm .logo {
    background-color: #ffc20f;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.loginPage .loginFields {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.loginPage .loginFields input {
    margin-bottom: 10px;
}

.loginPage .loginFields .loginButton {
    align-self: flex-end;
}