<div class="book panel">
    <div class="image">
        <img src="{{ book.thumbnail }}" />
    </div>
    <div class="info">
        <div class="title">{{ book.title }}{{ ": " + book.subtitle if book.subtitle}}</div>
        <div class="author">{{ book.authors }}</div>
        <div class="isbn">{{ book.ISBN_10 }} ({{ book.ISBN_13 }})</div>
        <div class="description">{{ book.description }}</div>
        {% if book.comments %}
            <div class="comments">Comments: "{{ book.comments }}"</div>
        {% endif %}
        <div class="seller">
            Sold by: <a href="#">{{ book.first_name }} {{ book.last_name }}</a>
        </div>
        <div class="sellingInfo">
            <div class="price">${{ '%0.2f'| format(book.price|float) }}</div>
            <!--<button class="buy">BUY</button>-->
        </div>
    </div>
</div>
