<div class="book panel">
    <div class="image">
        <img src="{{ book.thumbnail }}" />
    </div>
    <div class="info">
        <div class="title">{{ book.title }}{{ ": " + book.subtitle if book.subtitle}}</div>
        <div class="author">{{ book.authors }}</div>
        <div class="isbn">{{ book.ISBN_10 }} ({{ book.ISBN_13 }})</div>
        <div class="description">{{ book.description }}</div>
        {% if book.condition and book.binding %}
            <div class="condition">{{ book.binding }} - {{ book.condition }}</div>
        {% endif %}
        {% if book.comments %}
            <div class="comments">Comments: "{{ book.comments }}"</div>
        {% endif %}
        <div class="seller">
            Sold by: <a href="/user/{{ book.user_id }}">{{ book.first_name }} {{ book.last_name }}</a>
        </div>
        <div class="sellingInfo">
            {% if isuserprofile %}
            <button class="markRemoved" onclick="removeBook('{{ book.id }}', this);">Remove</button>
            <button class="markSold">Sold</button>
            {% endif %}
            {% if user.id != book.user_id %}
            <button type="button" class="buy" data-toggle="modal" data-target="#exampleModal" data-user-id="{{book.user_id}}" data-whatever="{{ book.first_name }} {{ book.last_name }}" data-listing="{{ book.id }}">Buy</button>
            {% endif %}
            {% if user.is_admin %}
                {% if deactivateListingForm %}
                    <div class="form-group">
                        <button id="listing_id_{{ book.id }}" type="submit">Deactivate</button>
                    </div>
                {% endif %}
            {% endif %}
            <div class="price">${{ '%0.2f'| format(book.price|float) }}</div>
        </div>
        
    </div>
</div>
