<div class="book panel">
    <div class="image">
        <img src="{{ book.thumbnail }}" />
    </div>
    <div class="info">
        <div class="title">{{ book.title }} (Ed.)</div>
        <div class="author">{{ book.authors }}</div>
        <div class="isbn">{{ book.isbn10 }} ({{ book.isbn13 }})</div>
        <div class="type">{{ book.description }}</div>
        <div class="seller">
            Sold by: <a href="#">{{ book.first_name }} {{ book.last_name }}</a>
        </div>
        <div class="sellingInfo">
            <div class="price">{{ '%0.2f'| format(book.price|float) }}</div>
            <!--<button class="buy">BUY</button>-->
        </div>
    </div>
</div>
