<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <label for="message-text" class="control-label">Book: </label> <span class="book-title"></span>
                <form>
                    <input type="hidden" name="listing_id" />
                    <input type="hidden" name="user_id" />
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">Close</button>
                <button type="button" onclick="sendEmail();">Send message</button>
            </div>
        </div>
    </div>
</div>
<script src="static/js/modal.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>