<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/logout.js"></script>
    <script src="/static/js/common.js"></script>
</head>

<body>
    <div id="Header">
        <a class="navbar-brand" href="/">Book Xchange</a>
        <form action="/search" method="POST" class="searchForm">
            <div class="form-group">
                <input type="text" name="search" class="searchBooks form-control" placeholder="Search...">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            {% if not user %}
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif %}
        </ul>
    </div>
