{% include "header.html" %}

<div id="Main" role="main">
    <div class="sizeWrapper">
        <div class="profilePageWrapper">
            {% if banned %}
                <div style="text-align: center; width: 100%;">You've been banned! Please contact bookxchange@uwm.edu for more information.</div>
            {% elif user %}
                <div class="aside">
                    <div class="profile panel">
                        <div class="name">{{ user.first_name }} {{ user.last_name}}</div>
                        {% if user.is_admin %}
                        <div class="stat">Administrator</div>
                        {% endif %}
                        <div class="stat">{{ user.email }}</div>
                        <div class="stat">{{ user.sold }} Sold</div>
                        <div class="stat">{{ user.purchased }} Purchased</div>
                        <div class="stat">{{ user.listed_for_sale }} Books for Sale</div>
                        <div class="stat">{{ user.listed_for_purchase }} Books Wanted</div>
                        <div class="stat">{{ user.rating }} / 5</div>
                    </div>
                    <div class="reviews panel">
                        <div class="reviewsHeader">Reviews</div>
                        {% if user.reviews|length > 0 %}
                            {% for review in user.reviews %}
                                <div class="review">
                                    <div class="reviewStars">
                                        {% if review.rating < 0.5 %}
                                            ☆☆☆☆☆
                                        {% elif review.rating < 1.5 %}
                                            ★☆☆☆☆
                                        {% elif review.rating < 2.5 %}
                                            ★★☆☆☆
                                        {% elif review.rating < 3.5 %}
                                            ★★★☆☆
                                        {% elif review.rating < 4.5 %}
                                            ★★★★☆
                                        {% else %}
                                            ★★★★★
                                        {% endif %}
                                    </div>
                                    <div class="reviewText">"{{ review.comments }}"</div>
                                    <div class="reviewer">-<a href="#">{{ review.first_name }} {{ review.last_name }}</a></div>
                                    <div class="reviewer">{{ review.date_posted.strftime('%b %d, %Y') }}</a></div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="review">
                                <div class="reviewText">No one has written awesome things about you yet. :-(</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="bookListing">
                    <div class="bookSectionHeader">
                        <div>Selling</div>
                        <button onclick="location.href='/addbook/sell';">ADD</button>
                    </div>
                    {% for book in sellbooks %}
                        {% include "book_listing.html" %}
                    {% endfor %}
                    <div class="bookSectionHeader">
                        <div>Wanted</div>
                        <button onclick="location.href='/addbook/request';">ADD</button>
                    </div>
                    {% for book in buybooks %}
                        {% include "book_listing.html" %}
                    {% endfor %}
                </div>
            {% else %}
                <div style="text-align: center; width: 100%;">Please Log In</div>
            {% endif %}
        </div>
    </div>
</div>

{% include "footer.html" %}