{% include "header.html" %}

<div class="row">
    <div class="container">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div class="panel panel-warning">
                <div class="panel-body">
                    <h3 class="top-buffer">
                        Want To Buy
                        <small>
                            <span class="btn-group pull-right">
                                <button class="btn btn-mini" onclick="location.href='/addbook/request';">Request Book</button>
                            </span>
                        </small>
                    </h3>
                    <hr />
                    {% for book in sellbooks %}
                        {% include "home_page_book.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="panel panel-warning">
                <div class="panel-body">
                    <h3 class="top-buffer">
                        Want To Sell
                        <small>
                            <span class="btn-group pull-right">
                                <button class="btn btn-mini" onclick="location.href='/addbook/sell';">Sell Book</button>
                            </span>
                        </small>
                    </h3>
                    <hr />
                    {% for book in buybooks %}
                        {% include "home_page_book.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
</div>

{% include "footer.html" %}