{% include "header.html" %}

<div class="row">
    <div class="container">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="filters panel-body">
                    <h3 class="top-buffer">
                        Filters
                    </h3>
                    <hr />
                    <div>
                        <label>Listing:</label>
                        <select>
                            <option value="0">Selling</option>
                            <option value="1">Wanted</option>
                        </select>
                    </div>
                    <div>
                        <label>Binding:</label>
                        <select>
                            <option value="1">Paperback</option>
                            <option value="2">Hardcover</option>
                            <option value="3">Loose Leaf</option>
                        </select>
                    </div>
                    <div>
                        <label>Condition:</label>
                        <select>
                            <option value="1">New</option>
                            <option value="2">Like New</option>
                            <option value="3">Very Good</option>
                            <option value="3">Good</option>
                            <option value="3">Acceptable</option>
                        </select>
                    </div>
                    <div>
                        <input class="lowrange" type="text" placeholder="$0.00"/> to <input class="highrange" type="text" placeholder="$0.00"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-body">
                    <h3 class="top-buffer">
                        Sort By
                    </h3>
                    <hr />
                    <select>
                        <option value="1">Price low to high</option>
                        <option value="2">Price high to low</option>
                        <option value="3">Seller reputation</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel-warning">
                <div class="panel-body">
                    <h3 class="top-buffer">
                        Search Results
                    </h3>
                    <hr />
                    <form id="deactivateListing">
                        {% set deactivateListingForm = true %}
                        {% for book in books %}
                        {% include "book_listing.html" %}
                        {% endfor %}
                    </form>
</div>
            </div>
        </div>
        <div class="col-lg-1"></div>
</div>
<script src="/static/js/admin.js"></script>
{% include "footer.html" %}